@font-face {
    font-family: pokefont;
    src: url(./fonts/Pokemon\ Hollow.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: pokefont;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 0;
}

[data-theme="light"] {
    --tx-color: #000000;
    --bg-color: #ee1515;
    --btn-color: #dddddd;
    --bdy-color: #f0f0f0;
    --bx-shadow: #000000;
    --up-color: #1BAE1B;
    --dwn-color: #AE1B1B;
}

[data-theme="dark"] {
    --tx-color: #f0f0f0;
    --bg-color: #cd1111;
    --btn-color: #f0f0f0;
    --bdy-color: #dddddd;
    --bx-shadow: #ffffff;
    --up-color: #00FF00;
    --dwn-color: #FF0000;
}